server:
  port: 8083 # New Port!

spring:
  application:
    name: interaction-service
  datasource:
    # Use the EXACT same URL that worked for Identity/Catalog
    url: jdbc:postgresql://db.rfmmkqcfcfbxukxjpnvw.supabase.co:5432/postgres?sslmode=require
    username: postgres
    password: xH9QjFi6ujwcP6qx
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/