spring:
  application:
    name: discovery-server

server:
  port: 8761  

eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: false 
    fetch-registry: false       

spring.security.user.name: ${EUREKA_USERNAME:admin}
spring.security.user.password: ${EUREKA_PASSWORD:admin}