spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        # Route for Identity Service
        - id: identity-service
          uri: lb://IDENTITY-SERVICE
          predicates:
            - Path=/auth/**
          filters:
            - RewritePath=/auth/(?<segment>.*), /auth/$\{segment}

        # Route for Catalog Service
        - id: catalog-service
          uri: lb://CATALOG-SERVICE
          predicates:
            - Path=/movie/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/